<h1> Assignment 1: Functions, Dictionaries, and DataFrames</h1>
DATA 3000 202102 (Cofer)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Problem-1-(8-points)" data-toc-modified-id="Problem-1-(8-points)-0">Problem 1 (8 points)</a></span></li><li><span><a href="#Problem-2-(4-points-each-subpart)" data-toc-modified-id="Problem-2-(4-points-each-subpart)-1">Problem 2 (4 points each subpart)</a></span><ul class="toc-item"><li><span><a href="#Problem-2a" data-toc-modified-id="Problem-2a-1.1">Problem 2a</a></span></li><li><span><a href="#Problem-2b" data-toc-modified-id="Problem-2b-1.2">Problem 2b</a></span></li><li><span><a href="#Problem-2c" data-toc-modified-id="Problem-2c-1.3">Problem 2c</a></span></li><li><span><a href="#Problem-2d" data-toc-modified-id="Problem-2d-1.4">Problem 2d</a></span></li><li><span><a href="#Problem-2e" data-toc-modified-id="Problem-2e-1.5">Problem 2e</a></span></li></ul></li><li><span><a href="#Problem-3-(4-points-each-subpart)" data-toc-modified-id="Problem-3-(4-points-each-subpart)-2">Problem 3 (4 points each subpart)</a></span><ul class="toc-item"><li><span><a href="#Problem-3a" data-toc-modified-id="Problem-3a-2.1">Problem 3a</a></span></li><li><span><a href="#Problem-3b" data-toc-modified-id="Problem-3b-2.2">Problem 3b</a></span></li><li><span><a href="#Problem-3c" data-toc-modified-id="Problem-3c-2.3">Problem 3c</a></span></li></ul></li></ul></div>

<b><hr>
<p>In this assignment, you will practice writing functions, creating and searching python dictionaries, and creating and searching pandas DataFrames. Hopefully, you will come away with a healthy appreciation for the pandas library. The assignment is worth a total of 40 points.</p>

<span style="color:red"> Remember to "Restart & Run All" from the `Kernel` menu before submitting. This will make sure your code runs as you expect it to, and it will include all output cells in your submission, which I require.</span> You may input additional cells into your solutions as necessary.
<hr></b>

<div class="alert alert-block alert-info">

### Problem 1 (8 points)

**Task:** Write a function called `pw_test` to test whether a user-entered password is good. Good passwords:
    * Include at least one a lowercase letter
    * Include at least one uppercase letter
    * Include at least one number
    * Be at least 7 characters long
   
**Requirements:**
   * Your password should take a user-inputted password attempt as a parameter (included in starter code below).
   * If a password attempt fails any of the conditions, your function should print "Please Try Again. Your password must" plus a string indicating at least one problem with the password attempt. 
   * If a password attempt meets all of the conditions, your function should print "Great password!" 
   *
More sophisticated outputs may earn you bonus points.

Run your function and include output for the following test passwords. (But be careful. I will test your function on other password attempts as well.)
</div>

In [1]:
def pw_test(): 
    pwd = True
    
    while pwd:
        lower = False
        upper = False
        num = False
        l = False
        
        missing = []
        a = input('Create a password: ') #complete this function definition.
            
        for char in a:
            if char.isupper():
                upper = True
            if char.islower():
                lower = True
            if char in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']:
                num = True
                
        if len(a) >= 7:
            l = True
        else:
            if 7 - len(a) == 1:
                missing.append('have at least 1 more character')
            else:
                missing.append('have at least {} more characters'.format(7 - len(a)))
        
        if not lower:
            missing.append('have a lower case letter')
        
        if not upper:
            missing.append('have an upper case letter')
            
        if not num:
            missing.append('have a number')
            
        if lower and upper and num and l:
            pwd = False
            print('Great password!')
            break
            
        print('Please try again, your password *{}* must:'.format(a))   
        for miss in missing:
            if miss != missing[-1]:
                print('     ' + miss + ',')
            else:
                print('     and ' + miss + '.')
        print(' ')
    
    
    
        
        
        
        
                
                
pw_test()

Create a password: hello123
Please try again, your password *hello123* must:
     and have an upper case letter.

Create a password: Hello123
Great password!

<div class="alert alert-block alert-info">

### Problem 2 (4 points each subpart)

**Description and Goal:** The lists below hold (fake) employee record data. An employee's data corresponds to the list of items from each list at a given index. For example, employee 1 is Betty Keuhner. Her id number is 1466. She has 28 years of service with the company. She works in the marketing department and she makes \$75,000 a year. By following the subproblems below, you will create a python dictionary that holds employee records.
</div>

In [2]:
first_names = ['Betty', 'John', 'Benton', 'Claudia', 'Susy', 'Lizbeth', 'Kimberly', 'Alan', 'Nick', 'Markus']
last_names = ['Kuehner', 'Eades', 'Nord', 'Rutter', 'Buchman', 'Ennis', 'Tweed', 'Marden', 'Oldenburg', 'Torres']  
id_number = [1466, 7874, 4821, 4192, 3865, 6692, 4273, 7781, 3597, 1608]
years_service = [28, 22, 3, 6, 12, 5, 10, 1, 14, 20] 
department = ['Marketing', 'Sales', 'Sales', 'IT', 'HR', 'Marketing', 'Finance', 'Sales', 'Sales', 'IT']
annual_salary = [75000, 52000, 35000, 68000, 40000, 60000, 95000, 30000, 45000, 85000]

<div class="alert alert-block alert-info">      

#### Problem 2a

**Task:** Create a new list called `names` from the two existing name lists `first_names` and `last names` such that `names` is a list of employee name strings of the form ```Last-Name, First-Name```
 
**Requirements:** Create your `names` list using a `for` loop or list comprehension, and string concatenation. Print your new list to be sure it worked.


*Note*: Your code can be written in two lines with a `for` loop or one line with list comprehension.
</div>

In [3]:
#Your answer to 2a here

#list comprehension
names = [x + ' ' + y for x, y in zip(first_names, last_names)]

#for loop
# names = []
# for i in range(len(first_names)):
#     names.append(first_names[i] + ' ' + last_names[i])
    
print(names)

['Betty Kuehner', 'John Eades', 'Benton Nord', 'Claudia Rutter', 'Susy Buchman', 'Lizbeth Ennis', 'Kimberly Tweed', 'Alan Marden', 'Nick Oldenburg', 'Markus Torres']

<div class="alert alert-block alert-warning">
    
Execute the cell below to create a new list containing the lists of employee data, with the `names` list in place of the `first_names` and `last_names` lists.
</div>

In [4]:
data_item = [names,id_number,years_service,department,annual_salary]

<div class="alert alert-block alert-warning">
Execute the cell below to initialize a list of lists to contain employee records.
</div>

In [5]:
employees = [[] for i in range(len(names))] #list of employee records

<div class="alert alert-block alert-info">

#### Problem 2b 

**Task:** The `employees` list above is an empty list of lists. Fill it with employee records. Each record (list inside the `employee` list) should contain an employee's full name, id number, years of service, department, and annual_salary (in that order).
 
**Requirements:** Write two *nested* `for` loops to fill the `employees` list with employee records. When done, use a `for` loop to print `employees` so that one record is printed per line in the output. 

*Hint*: The outside loop should loop `N` times (where `N` is `len(names)`, the number of employees). For each iteration, the inside loop should iterate over the items in the `data_item` list to create the corresponding employee record. Ideally, your solution should have exactly three lines of code.
    
</div>

In [6]:
#Your answer to 2b here
for i in range(len(employees)):
    for item in data_item:
        employees[i].append(item[i])

for employee in employees:
    print(employee)

['Betty Kuehner', 1466, 28, 'Marketing', 75000]
['John Eades', 7874, 22, 'Sales', 52000]
['Benton Nord', 4821, 3, 'Sales', 35000]
['Claudia Rutter', 4192, 6, 'IT', 68000]
['Susy Buchman', 3865, 12, 'HR', 40000]
['Lizbeth Ennis', 6692, 5, 'Marketing', 60000]
['Kimberly Tweed', 4273, 10, 'Finance', 95000]
['Alan Marden', 7781, 1, 'Sales', 30000]
['Nick Oldenburg', 3597, 14, 'Sales', 45000]
['Markus Torres', 1608, 20, 'IT', 85000]

<div class="alert alert-block alert-warning">
    
Execute the cell below to create a new `keys` list containing string descriptors for each of the different data items recorded for each employee.
</div>

In [7]:
keys = ['Name', 'ID', 'YOS', 'Department', 'Salary']

<div class="alert alert-block alert-warning">
Execute the cells below to initialize a list of employee record descriptors.
</div>

In [8]:
record_title = []

In [9]:
for i in range(len(names)): 
    record_title.append('emp'+str(i+1))

In [10]:
print(record_title)

['emp1', 'emp2', 'emp3', 'emp4', 'emp5', 'emp6', 'emp7', 'emp8', 'emp9', 'emp10']

<div class="alert alert-block alert-info">

#### Problem 2c 

**Task:** Create a list of employee records called `records`, where each record is a dictionary formed from `keys` and the individual lists in `employees`.

**Requirements:** For each employee record in `employees`, create a corresponding dictionary using `keys`. Then store these dictionaries in a list called `records`. When done, use a `for` loop to print each item in `records` one line at a time. Your code for creating `records` should use a `for` loop, the `append()` method for lists, and the `zip` function. (Note: Without the printing, this can be done in two lines of code.)
    
</div>

In [11]:
# Your answer to 2c here
records = []

for employee in employees:
    records.append({keys[i]: employee[i] for i in range(len(keys))})

for record in records:
    print(record)

{'Name': 'Betty Kuehner', 'ID': 1466, 'YOS': 28, 'Department': 'Marketing', 'Salary': 75000}
{'Name': 'John Eades', 'ID': 7874, 'YOS': 22, 'Department': 'Sales', 'Salary': 52000}
{'Name': 'Benton Nord', 'ID': 4821, 'YOS': 3, 'Department': 'Sales', 'Salary': 35000}
{'Name': 'Claudia Rutter', 'ID': 4192, 'YOS': 6, 'Department': 'IT', 'Salary': 68000}
{'Name': 'Susy Buchman', 'ID': 3865, 'YOS': 12, 'Department': 'HR', 'Salary': 40000}
{'Name': 'Lizbeth Ennis', 'ID': 6692, 'YOS': 5, 'Department': 'Marketing', 'Salary': 60000}
{'Name': 'Kimberly Tweed', 'ID': 4273, 'YOS': 10, 'Department': 'Finance', 'Salary': 95000}
{'Name': 'Alan Marden', 'ID': 7781, 'YOS': 1, 'Department': 'Sales', 'Salary': 30000}
{'Name': 'Nick Oldenburg', 'ID': 3597, 'YOS': 14, 'Department': 'Sales', 'Salary': 45000}
{'Name': 'Markus Torres', 'ID': 1608, 'YOS': 20, 'Department': 'IT', 'Salary': 85000}

<div class="alert alert-block alert-info">

#### Problem 2d 
**Task:** Create a dictionary called `employee_dict` using the `record_title` and `records` lists.

**Requirements:** Use the `zip` function.
    
</div>

In [12]:
# Your answer to 2d here
employee_dict = {}

for i in range(len(record_title)):
    employee_dict[record_title[i]] = records[i]
    
   
employee_dict

{'emp1': {'Name': 'Betty Kuehner',
  'ID': 1466,
  'YOS': 28,
  'Department': 'Marketing',
  'Salary': 75000},
 'emp2': {'Name': 'John Eades',
  'ID': 7874,
  'YOS': 22,
  'Department': 'Sales',
  'Salary': 52000},
 'emp3': {'Name': 'Benton Nord',
  'ID': 4821,
  'YOS': 3,
  'Department': 'Sales',
  'Salary': 35000},
 'emp4': {'Name': 'Claudia Rutter',
  'ID': 4192,
  'YOS': 6,
  'Department': 'IT',
  'Salary': 68000},
 'emp5': {'Name': 'Susy Buchman',
  'ID': 3865,
  'YOS': 12,
  'Department': 'HR',
  'Salary': 40000},
 'emp6': {'Name': 'Lizbeth Ennis',
  'ID': 6692,
  'YOS': 5,
  'Department': 'Marketing',
  'Salary': 60000},
 'emp7': {'Name': 'Kimberly Tweed',
  'ID': 4273,
  'YOS': 10,
  'Department': 'Finance',
  'Salary': 95000},
 'emp8': {'Name': 'Alan Marden',
  'ID': 7781,
  'YOS': 1,
  'Department': 'Sales',
  'Salary': 30000},
 'emp9': {'Name': 'Nick Oldenburg',
  'ID': 3597,
  'YOS': 14,
  'Department': 'Sales',
  'Salary': 45000},
 'emp10': {'Name': 'Markus Torres',
  'ID': 1608,
  'YOS': 20,
  'Department': 'IT',
  'Salary': 85000}}

<div class="alert alert-block alert-warning">

Execute the cells below to print the `employee_dict`.
</div>

In [13]:
to_print = [print(key, value) for key, value in employee_dict.items()]

emp1 {'Name': 'Betty Kuehner', 'ID': 1466, 'YOS': 28, 'Department': 'Marketing', 'Salary': 75000}
emp2 {'Name': 'John Eades', 'ID': 7874, 'YOS': 22, 'Department': 'Sales', 'Salary': 52000}
emp3 {'Name': 'Benton Nord', 'ID': 4821, 'YOS': 3, 'Department': 'Sales', 'Salary': 35000}
emp4 {'Name': 'Claudia Rutter', 'ID': 4192, 'YOS': 6, 'Department': 'IT', 'Salary': 68000}
emp5 {'Name': 'Susy Buchman', 'ID': 3865, 'YOS': 12, 'Department': 'HR', 'Salary': 40000}
emp6 {'Name': 'Lizbeth Ennis', 'ID': 6692, 'YOS': 5, 'Department': 'Marketing', 'Salary': 60000}
emp7 {'Name': 'Kimberly Tweed', 'ID': 4273, 'YOS': 10, 'Department': 'Finance', 'Salary': 95000}
emp8 {'Name': 'Alan Marden', 'ID': 7781, 'YOS': 1, 'Department': 'Sales', 'Salary': 30000}
emp9 {'Name': 'Nick Oldenburg', 'ID': 3597, 'YOS': 14, 'Department': 'Sales', 'Salary': 45000}
emp10 {'Name': 'Markus Torres', 'ID': 1608, 'YOS': 20, 'Department': 'IT', 'Salary': 85000}

<div class="alert alert-block alert-warning">

Execute the cell below to see one way of using dictionary comprehension to search employee_dict and display only the employee `Name` and `YOS` for all employees with 5 or more years of service.
</div>

In [14]:
#all employees with more than 5 years of service
{employee_dict[key]['Name']:employee_dict[key]['YOS'] for key,val in employee_dict.items() if val['YOS']>=5}

{'Betty Kuehner': 28,
 'John Eades': 22,
 'Claudia Rutter': 6,
 'Susy Buchman': 12,
 'Lizbeth Ennis': 5,
 'Kimberly Tweed': 10,
 'Nick Oldenburg': 14,
 'Markus Torres': 20}

<div class="alert alert-block alert-info">

#### Problem 2e 
**Task:** Using the above code as a model, search employee_dict for all employees who work in sales and who make over $40,000 annually.

**Requirements:** Use dictionary comprehension modeled on the example above and show only the employee `Name`, `Department`, and `Salary` for those employees who meet the criteria.
</div>

In [15]:
# Your answer to 2e here
{employee_dict[key]['Name']:[employee_dict[key]['Department'], employee_dict[key]['Salary']] for key,val in employee_dict.items() if val['Department']=='Sales' and val['Salary']>40000}

{'John Eades': ['Sales', 52000], 'Nick Oldenburg': ['Sales', 45000]}

<div class="alert alert-block alert-info">

### Problem 3 (4 points each subpart)
**IMPORTANT: Be sure that you have first installed the pandas package on your computer by keying `conda install pandas` in an anaconda terminal.** Then run the following cell to import pandas. 
</div>

In [16]:
import pandas as pd

<div class="alert alert-block alert-info">

#### Problem 3a 
**Task:** Create a pandas DataFrame from your `records` list. Call it `records_df`. 

**Requirements:** Display the resulting DataFrame using `display(records_df)` or just `records_df`.
</div>

In [17]:
#Your answer to 3a here
records_df = pd.DataFrame(records)
display(records_df)

             Name    ID  YOS Department  Salary
0   Betty Kuehner  1466   28  Marketing   75000
1      John Eades  7874   22      Sales   52000
2     Benton Nord  4821    3      Sales   35000
3  Claudia Rutter  4192    6         IT   68000
4    Susy Buchman  3865   12         HR   40000
5   Lizbeth Ennis  6692    5  Marketing   60000
6  Kimberly Tweed  4273   10    Finance   95000
7     Alan Marden  7781    1      Sales   30000
8  Nick Oldenburg  3597   14      Sales   45000
9   Markus Torres  1608   20         IT   85000

<div class="alert alert-block alert-info">

#### Problem 3b
**Task:** Use `.loc` to locate and display all employee records for employees with 5 or more years of service. 

**Requirements:** Select rows that satisfy the above conditions but just return the `Name` and `YOS` columns.
</div>

In [18]:
# Your answer to 3b here
records_df[['Name', 'YOS']].loc[records_df['YOS'] > 5]

             Name  YOS
0   Betty Kuehner   28
1      John Eades   22
3  Claudia Rutter    6
4    Susy Buchman   12
6  Kimberly Tweed   10
8  Nick Oldenburg   14
9   Markus Torres   20

<div class="alert alert-block alert-info">

#### Problem 3c

**Task:** Use `.loc` to locate and display all employee records for employees who work in sales and who make over \$40,000 annually.

**Requirements:** Select rows that satisfy the above conditions but just return the `Name`, `Department` and `Salary` columns.
</div>

In [19]:
# Your answer to 3c here
records_df[['Name', 'Department', 'Salary']].loc[(records_df['Department'] == 'Sales') & (records_df['Salary'] > 40000)]

             Name Department  Salary
1      John Eades      Sales   52000
8  Nick Oldenburg      Sales   45000

In [20]:
records_df

             Name    ID  YOS Department  Salary
0   Betty Kuehner  1466   28  Marketing   75000
1      John Eades  7874   22      Sales   52000
2     Benton Nord  4821    3      Sales   35000
3  Claudia Rutter  4192    6         IT   68000
4    Susy Buchman  3865   12         HR   40000
5   Lizbeth Ennis  6692    5  Marketing   60000
6  Kimberly Tweed  4273   10    Finance   95000
7     Alan Marden  7781    1      Sales   30000
8  Nick Oldenburg  3597   14      Sales   45000
9   Markus Torres  1608   20         IT   85000

In [27]:
records_df.loc[0]

Name          Betty Kuehner
ID                     1466
YOS                      28
Department        Marketing
Salary                75000
Name: 0, dtype: object